 
.spacer {
  height: 50px;
}
.clear {
  clear: both;
}
.grid {
  position: relative;
  width: 90%;
  margin: auto;
}
 
/*Info */
.aboutsection h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
} 
.aboutsection h3 {
  position: relative;
  margin-top: 90px;
  font-size: 20px;
}
.aboutsection p {
  width: 700px;
  padding-left: 10px;
  border-left: 1px solid black;
  line-height: 2;
}

.cards {
  width: 300px;
  height: 350px;
  float: left;
  margin: 20px;
}
.cards a {
  text-decoration: none;
}

















