.cart-dropdown {
  position: absolute !important;
  max-width: 80% !important;
  max-height: 80% !important;
  width: 340px !important;
  padding: 10px !important;
  min-height: auto !important;
  display: flex !important;
  flex-direction: column !important;
  background-color: white !important;
  top: 90px !important;
  right: 40px !important;
  z-index: 5 !important;
}

.cart-items {
  padding: 20px !important;
  display: flex !important;
  flex-direction: column !important;
  overflow-y: scroll !important;
}

.cart-item {
  display: flex !important;
  margin-bottom: 15px !important;
}

.cart-item-image {
  max-width: 30%;
}

.checkout-button {
  margin-top: 15px;
}

button {
  margin-top: auto;
}

.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header{
  float: left;
  padding: 10px 10px;
}

.icon-outer{
  display: flex !important;
  justify-content: flex-end !important;
  margin-right: 30px !important;
}

.shopping-icon {
  width: 24px;
  height: 24px;
}

.item-count {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  bottom: 12px;
}

img {
  width: 25%;
  height: auto;
}

.item-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
}

.name {
  font-size: 16px;
}

.checkout{
  margin: 40px 40px 40px 40px;
}

.quantity{
  display: flex;
  text-align: center;
}

.quantity-button{
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.remove-button {
  padding-left: 12px;
  cursor: pointer;
}

.value {
  text-align: center;
}

.center_total {
    text-align: center;
    font-weight: bold;
}
.pay_button{
  display: block;
  margin: 0 auto;

  width: 50%;
  height: 50%;
}