.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
    margin: 5px 10px;
}
.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper .card {
    min-width: 316px;
}