.item-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
.item-container:hover {
    transform: scale(1.05);
  }

.item-list {
    width: 85vm;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.table-cell {
  border: none;
  padding: none;
}