.item-list img {
	object-fit:cover;
	margin:20px auto;
}
.item-list button {	
	margin: 20px auto;
}


.item-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
text-align:center;
  }
  
.item-container:hover {
    transform: scale(1.05);
  }

.item-list {
    width: 85vm;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.table-cell {
  border: none;
  padding: none;
}

.button {
    text-align: center;
    text-transform: none;
}

img {
  width: 225px ;
  height: auto;
}


.central_search_elements{
  display: block;
  margin: 0 auto;

  width: 65%;
  height: 65%;
}


@media(max-width:1100px) {
    .item-list {
	display:block;	
	text-align:left;
}	 
     .item-list h2 {
	width:300px;
}	
}
@media(max-width:800px) {
.aboutsection p {
	width:90%!important;

}
} 
@media(max-width:750px) {
.item-list {
	display:block;	
	text-align:center;
}
}