.nav-items {
  flex-grow: 1;
  background-color: white;
  color: black;
}

/* Class to remove hover events for nav item */
.no-hover {
  pointer-events: none;
}

#cart-icon, #profile-icon, #about-page, #seller-dashboard-icon {
  float: right;
}

.align-right {
  margin-left:auto;
  margin-right:0;
}

.logo_top_left {
	opacity: 1.0;
	width: 50px;
	height: 50px;
}