/* Part of the code is from: https://www.w3schools.com/css/css_navbar.asp */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
  background-color: #000;
}

/* Class to remove hover events for nav item */
.no-hover {
  pointer-events: none;
}

#cart-icon, #profile-icon, #about-page {
  float: right;
}