.paper {
  padding: 25px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 20px;
}

.text-field-disabled {
  /* margin-left: 16px !important; */
  margin-right: 16px !important;
  min-width: 50% !important;
}

.text-field-enabled {
  /* margin-left: 16px !important; */
  margin-right: 16px !important;
  min-width: 50% !important;
}

.edit {
  background-color: black !important;
  float: right;
}